body {
    background-color: #d5e6f7;
    color: #050831;
    font-size: 1.5rem;
    margin: 0;
}

.navbar {
    background-color: #303030;
    display: flex;
    width: 100%;
}

.navbar a {
    color: #408ec6;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar a.currentpage {
    color:white;
    background-color: #c02ec0;
    border: 1px solid transparent;
    border-radius: 1.3rem;
    line-height: 1.4;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.searchbar input[type=text]{ 
    width:300px; 
    height:25px; 
    border-radius:25px; 
    border: none; 
    padding-top: none;
} 

.searchbar{ 
    float:right; 
    margin:7px; 
    padding-left: 38%;
} 

.searchbar button{ 
    background-color: transparent; 
    color:none; 
    float: right; 
    padding-left: .2rem;
    margin-right: 16px; 
    font-size: 12px; 
    border: none; 
    cursor: pointer; 
}

.searchbar img{
    width: 34px;
    height: 30px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}


a:link {
    color: #FF0000;
}


a:visited {
    color: #9400D3
}

