body {
    background-color: #d5e6f7;
    color: #050831;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Merriweather';
}
h1 {
    border: none;
    margin: none;
    font-family: 'Lato', sans-serif;
}

header {
    background: #4f8b77;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.topbar {
    width: 100%;
    margin: 0 auto;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding-bottom: 14px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: #324350;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    color: #000;
}

nav a.currentpage {
    color:white;
    background-color: #307747;
    border: .4rem solid transparent;
    border-radius: 1.3rem;
    line-height: 1.4;
    padding: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.searchbar input[type=text]{ 
    width:300px; 
    height:25px; 
    border-radius:25px; 
    border: none; 
    padding-top: none;
} 

.searchbar{ 
    float: right;
    padding-left: 8rem;
    line-height: 1.4;
} 

.searchbar button{ 
    background-color: transparent; 
    color:none; 
    float: right; 
    padding-left: .2rem;
    margin-right: 16px; 
    font-size: 12px; 
    border: none; 
    cursor: pointer; 
}

.searchbar img{
    width: 34px;
    height: 30px;
}
