{% extends "layout.html" %}
{% block main %}

<img src="static/wheatfields.jpg" alt="Happy Photo" class="photocenter" height="1000px">

<style> h1 {text-align: center; text-shadow: 1px 1px 0 rgb(0, 0, 0);} p{text-align: center; text-shadow: .5px .5px 0 rgb(0, 0, 0); color:#424242;} </style>

<h1 style="margin-top: -40%;">About Us</h1>

<p>
    For help, contact us at: <br>
    fakeemailhere.notrealemail.org <br>
    (123) 456-7890 <br>
    Address not Found <br>
    Hell's Gates, TX, 76449
</p>



{% endblock %}