{% extends "layout.html" %}
{% block main %}

<style>
    main {
        text-align: center;
        font-family: sans-serif;
    }
    .form-group :focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    button {
        margin-top: 1rem;
        padding: 10pt;
        border-radius: 15%;

    }
    .form-group select {
        height: 20pt;
        width: 300pt;
        margin-top: 1%;
    }
</style>

<img src="static/beachfront.jpg" alt="Space Photo" class="photocenter" height="1000px">

<h1 style="margin-top: -50%;">Your Account</h1>

<form action="/account" method="post">
    <div class="form-group">
        <select name="maths_placement">
            {% if my_maths_placement|length > 0 %}
                {% for id, name in maths_placements %}
                    {% for myid, myname in my_maths_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> Math Placement/First Math Class </option>
                {% for id, name in maths_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <select name="expos_placement">
            {% if my_expos_placement|length > 0 %}
                {% for id, name in expos_placements %}
                    {% for myid, myname in my_expos_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> Expos Placement/First Expos Class </option>
                {% for id, name in expos_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <select name="lifesci_placement">
            {% if my_lifesci_placement|length > 0 %}
                {% for id, name in lifesci_placements %}
                    {% for myid, myname in my_lifesci_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> LifeSci Placement/First LifeSci Class </option>
                {% for id, name in lifesci_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <button class="submit"> Submit </button>
</form>

<form action="/logout">
    <button class="submit"> Log Out </button>
</form>

<button>
    <a href="/change_pass" style=" text-decoration: none; color: black;">Change Password</a>
</button>


{% endblock %}