{% extends "layout.html" %}
{% block main %}

<h1>This is the Account Page</h1>

<form action="/account" method="post">
    <div class="form-group">
        <select name="maths_placement">
            {% if my_maths_placement|length > 0 %}
                {% for id, name in maths_placements %}
                    {% for myid, myname in my_maths_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> Math Placement/First Math Class </option>
                {% for id, name in maths_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <select name="expos_placement">
            {% if my_expos_placement|length > 0 %}
                {% for id, name in expos_placements %}
                    {% for myid, myname in my_expos_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> Expos Placement/First Expos Class </option>
                {% for id, name in expos_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <select name="lifesci_placement">
            {% if my_lifesci_placement|length > 0 %}
                {% for id, name in lifesci_placements %}
                    {% for myid, myname in my_lifesci_placement %}
                        {% if myid == id %}
                            <option value="{{ id }}" selected> {{ name }} </option>
                        {% else %}
                            <option value="{{ id }}"> {{ name }} </option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <option value="" disabled selected> LifeSci Placement/First LifeSci Class </option>
                {% for id, name in lifesci_placements %}
                        <option value="{{ id }}"> {{ name }} </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <button class="submit"> Submit </button>
</form>

<form action="/logout">
    <button class="submit"> Log Out </button>
</form>


{% endblock %}