<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/CS50project_style.css">
        <link rel= "iconsheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="navbar">
            <a class=" {{ home }} " href="/"> Home </a>
            <a class=" {{ about }} " href="/about"> About </a>
            <a class=" {{ explore }} " href="/explore"> Explore </a>
            <a class=" {{ tracks }} " href="/tracks"> Tracks </a>
            <a class=" {{ myaccount }} " href="/myaccount"> My Account </a>
            <a class=" {{ contactus }} " href="/contactus"> Contact Us </a>
            <div class="searchbar"> 
                <form action="#"> 
                    <input autocomplete="off" type="text"
                        placeholder=" Search "
                        name="search"> 
                    <button>
                        <img src="/static/magnify.png">
                    </button>
                </form> 
            </div> 
        </div>
    <main>
        {% block main %}{% endblock %}
    </main>
    </body>
</html>