<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/CS50project_style.css">
        <link rel= "iconsheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="topbar">
                <nav>
                    <ul>
                        <li>
                            <a class=" {{ home }} " href="/"> Home </a>
                        </li>
                        <li>
                            <a class=" {{ search }} " href="/search"> Course Search </a>
                        </li>
                        <li>
                            <a class=" {{ mycourses }} " href="/mycourses"> My Courses </a>
                        </li>
                        <li>
                            <a class=" {{ tracks }} " href="/tracks"> Tracks </a>
                        </li>
                        <li>
                            <a class=" {{ schedule }} " href="/schedule"> Schedule </a>
                        </li>
                        <li>
                            <a class=" {{ about }} " href="/about"  float= "left"> About </a>
                        </li>
                        <li>
                            <a class=" {{ login }} " href="/login"  float= "left"> Log In </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        
        
        
        
    <main>
        {% block main %}{% endblock %}
    </main>
    </body>
</html>