{% extends "layout.html" %}
{% block main %}
<style>
    main {
        text-align: center;
        font-family: sans-serif;
    }
    .form-group :focus {
        border-color: #49cadb;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }  

    input:placeholder-shown {
        border-color: hsl(229, 76%, 40%);
        }

    button {
        margin-top: 1rem;
        padding: 10pt;
        border-radius: 15%;

    }
    .form-group select, input {
        height: 20pt;
        width: 300pt;
        margin-top: 1%;
    }
</style>

<img src="static/lake.jpg" alt="Lake Photo" class="photocenter" height="1000px">

<h2 style="margin-top: -44%;">Please Login or <a href="/register" style="text-decoration: none;"> Register </a></h2>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

{% if message %}
<h1> {{ message }} </h1>
{% endif %}
<div style="margin-top: 1%;">
    <a href="/forgot" style="text-decoration: none;"> Forgot username or password? </a>
</div>
{% endblock %}