{% extends "layout.html" %}
{% block main %}
<style>
    main {
        text-align: center;
        padding-top: 2rem;
        font-family: sans-serif;
    }
</style>
<h2>Please Login or Register</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

{% if message %}
<h1> {{ message }} </h1>
{% endif %}

{% endblock %}