{% extends "layout.html" %}
{% block main %}

<h1 style="text-align: center;">This is the My Courses Page</h1>

<h2> My Favorite Courses</h2>
<table>
    <thead>
      <tr>
        <th> # </th>
        <th> Code </th>
        <th> Name </th>
        <th> Description </th>
      </tr>
    </thead>
    <tbody>
        {% for i, name, desc, code in favourites %}
        <tr>
          <td>{{ loop.index}}</td>
          <td> {{ code }} </td>
          <td> {{ name }} </td>
          <td> {{ desc }} </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
