{% extends "layout.html" %}
{% block main %}

<style> table, tr, td {border: 1px black solid; border-collapse: collapse;} table {width:90%; margin-left: auto; margin-right: auto;}</style>

<h1 style="text-align: center;">This is the My Courses Page</h1>

<h2 style="text-align: center;"> My Favorite Courses</h2>


<table>
    <thead>
      <tr>
        <th> # </th>
        <th> Code </th>
        <th> Name </th>
        <th> Description </th>
      </tr>
    </thead>
    <tbody>
        {% for i, name, desc, code in favourites %}
        <tr>
          <td>{{ loop.index}}</td>
          <td> {{ code }} </td>
          <td> {{ name }} </td>
          <td> {{ desc }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 style="text-align: center;"> My Taken Courses</h2>

<table>
  <thead>
    <tr>
      <th> # </th>
      <th> Code </th>
      <th> Name </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody>
      {% for i, name, desc, code in favourites %}
      <tr>
        <td>{{ loop.index}}</td>
        <td> {{ code }} </td>
        <td> {{ name }} </td>
        <td> {{ desc }} </td>
      </tr>
      {% endfor %}
  </tbody>
</table>





{% endblock %}
