{% extends "layout.html" %}
{% block main %}

<style> 
  table, tr, td {border: 1px black solid; border-collapse: collapse;} 
  table {width:90%; margin-left: auto; margin-right: auto; background-color: azure;}
</style>

<h1 style="text-align: center;">My Courses</h1>

<h2 style="text-align: center;"> My Favorite Courses</h2>

<h3> {{ message }} </h3>
<table>
    <thead>
      <tr>
        <th> # </th>
        <th> Code </th>
        <th> Name </th>
        <th> Description </th>
        <th> Remove favourite </th>
      </tr>
    </thead>
    <tbody>
        {% for i, name, desc, code in favourites %}
        <tr>
          <td>{{ loop.index}}</td>
          <td> {{ code }} </td>
          <td> {{ name }} </td>
          <td> {{ desc }} </td>
          <td> <form method="post" action="/removefavourite" style="text-align: center;"> <button name="id" value="{{ i }}">
            <img src="/static/noun_Star_750825.png" alt="Star by Zaff Studio from the Noun Project" style="width:20px;height:24px;">
            </form> </button> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 style="text-align: center;"> My Taken Courses</h2>
<h3> {{ complete }} </h3>

<table>
  <thead>
    <tr>
      <th> # </th>
      <th> Code </th>
      <th> Name </th>
      <th> Description </th>
      <th> Remove completed course </th>
    </tr>
  </thead>
  <tbody>
      {% for i, name, desc, code in completed %}
      <tr>
        <td>{{ loop.index}}</td>
        <td> {{ code }} </td>
        <td> {{ name }} </td>
        <td> {{ desc }} </td>
        <td> <form method="post" action="/removecompleted" style="text-align: center;"> <button name="remcomplete" value="{{ i }}">
          <img src="/static/noun_Star_750825.png" alt="Star by Zaff Studio from the Noun Project" style="width:20px;height:24px;">
          </form> </button> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>





{% endblock %}
