{% extends "layout.html" %}
{% block main %}
<style>
    main {
        text-align: center;
        font-family: sans-serif;
    }
    .form-group :focus {
        border-color: #49cadb;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }  

    input:placeholder-shown {
        border-color: hsl(229, 76%, 40%);
        }

    button {
        margin-top: 1rem;
        padding: 10pt;
        border-radius: 15%;

    }
    .form-group select, input {
        height: 20pt;
        width: 300pt;
        margin-top: 1%;
    }
</style>

<img src="static/snowscene.jpg" alt="Space Photo" class="photocenter" height="1000px">


<h1 style= "margin-top: -53%;">Fill in the information below to register</h1>
{% if error %}
    <h2 style="color:red"> {{ error }} </h2>
{% endif %}
<form action="/register" method="post" style="margin-top: 5%;">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="confirm_password" placeholder="Confirm password" type="password">
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
    </div>
    <div class="form-group">
        <select name="security_question">
            <option value="" disabled selected> Security Question </option>
            {% for id, question in questions %}
                <option value="{{ id }}"> {{ question }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" name="security_answer" placeholder="Security Answer" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="confirm_answer" placeholder="Confirm Answer" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}