{% extends "layout.html" %}
{% block main %}

<style> h1 {color:#e3e4e9; text-shadow: 3px 3px 0 #000; font-size: 64px;}</style>

<img src="static/Milkywaysearchpicture1.jpg" alt="Space Photo" class="photocenter" height="1000px">

<h1 style="text-align: center; justify-content: center; margin-top: -40%;">Class Search</h1>

<div style="align-self: center;">
    <div class="searchbar" style="margin-top: 5%; display:flex; align-items: center; justify-content: center; padding-left: 8%;"> 
        <form action="/searchresults"> 
            <input autocomplete="off" type="text"
                placeholder=" Search "
                name="q"> 
            <button>
                <img src="/static/magnify.png">
            </button>
        </form> 
    </div>
</div>

{% if querystring %}
<h1> You searched for {{ querystring }} and we couldn't find it. Sorry!</h1>
{% endif %}



{% endblock %}