{% extends "layout.html" %}
{% block main %}



<h1 style="text-align: center; justify-content: center; margin-top: 5%;">Tracks</h1>

<div style="align-self: center;">
    <div class="searchbar" style="margin-top: 2%; display:flex; align-items: center; justify-content: center; padding-left: 8%;"> 
        <form action="/tracksearch" method="post"> 
            <button>
                <img src="/static/magnify.png">
            </button>
            <input autocomplete="off" type="text"
            placeholder=" Search "
            name="q"> 
        </form> 
    </div>
</div>




{% endblock %}