{% extends "layout.html" %}
{% block main %}

<style> table, tr, td {border: 1px black solid; border-collapse: collapse;} 
        table {width:90%; margin-left: auto; margin-right: auto; background-color: azure;} 
        button {margin-left: auto; margin-right: auto};</style>

<h1>You searched for {{ querystring }} </h1>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2> Results: </h2>
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th> # </th>
      <th> Name </th>
      <th> Description </th>
      <th> Requirements </th>
      <th> Add as Concentration </th>
      <th> Add as Secondary </th>
    </tr>
  </thead>
  <tbody>
    {% for i, name, desc, link, type in results %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td> {{ name }} </td>
        <td> {{ desc }} </td>
        <td> <a href = " {{ link|e }}" target="_blank">{{ link }}</a> </td>
        <td>
            {% if type == "Concentration" %}
            <form method="post" action=/addconcentration style="text-align: center;"> <button name="id" value="{{ i }}">
            <img src="/static/noun_Star_750825.png" alt="Star by Zaff Studio from the Noun Project" style="width:20px;height:24px;"></form>
            {% endif %}
        </td>
        <td>
            <form method="post" action=/addsecondary style="text-align: center;"> <button name="id" value="{{ i }}">
            <img src="/static/noun_Star_750825.png" alt="Star by Zaff Studio from the Noun Project" style="width:20px;height:24px;"></form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}

{% endblock %}