{% extends "layout.html" %}
{% block main %}
<div class="header1">
    <div class="topbar">
        <div class= "nav1">
            <ul>
                
                <li>
                    <div class="searchbar" style="display: inline; justify-content: center;"> 
                        <form action="/search" method="post"> 
                            <button>
                                <img src="/static/magnify.png">
                            </button>
                            <input autocomplete="off" type="text"
                            placeholder=" Search "
                            name="q"> 
                        </form> 
                    </div>
                </li>
                
                <li style = "float:right">
                    <a class=" {{ mytracks }} " href="/mytracks"> My Tracks </a>
                </li>
                <li style = "float:right">
                    <a class=" {{ trackplanner }} " href="/trackplanner"> Track Planner </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<h1>This is the Track Planner Page</h1>





{% endblock %}